.menu-container {
    position: relative;
    display: inline-block;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    max-height: 0; /* Inicialmente escondido */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura máxima */
    transition: max-height 0.3s ease; /* Transição suave de altura máxima */
  }
  
  .menu-trigger:hover + .menu {
    max-height: 200px; /* Define a altura máxima para revelar o menu */
  }
  