/* parte de quando clica em home */

#home {
    position: relative;
    display: inline-block;
}
/* Estilo para o botão */

/* #home button {
    background-color: #012E40;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: auto;
    margin-bottom: 3.5px;
    margin-top: 8px;
} */

/* Estilo para os itens da lista suspensa */
#home-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    z-index: 1;
    border-radius: 20px;
    width: 82px;
    text-align: left;
}
#home-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#home-content a:hover {
    background-color: #ddd;
    border-radius: 20px;
}
#home:hover #home-content {
    display: block;
}

/* fim da parte do home */