@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

main {
    display: flex;
    margin-top: 100px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.body-contact {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    min-height: 480px;
    margin-top: 30px;
    margin-bottom: -20px;
}

.container{
    zoom: 100%;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    
}

.container label {
    font-size: 12px;
    text-align: left;
}

.container button {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-color: #fff;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}

#enviador:hover + .toggle-panel {
    width: 100%;
    transition: all 0.4s;
}

.container form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin-right: 20px;
    height: 100%;
}

form h1 {
    font-family: trattatello, fantasy;
    font-weight: lighter;
    color: #131c6c;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container input,
.container textarea {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container textarea {
    height: 60px;
    resize: none;
    max-height: 15em;
    line-height: 1.5em;
    overflow-y: auto;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ababab;
    cursor: pointer;
    border-radius: 15px;
}

#contact {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
}
#contact label {
    text-align: left;

}
.toggle-panel {
    height: 100%;
    background: linear-gradient(90deg, rgb(12, 23, 90) 0%, rgb(9, 71, 165) 50%, rgba(0, 180, 255, 1) 100%);
    z-index: 3;
    margin-bottom: -20px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    color: #fff;
    width: 50%;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    top: 0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    transform: translateX(0);
    transition: all 1.6s ease-in-out;
}

.toggle-panel h1 {
    font-family: trattatello, fantasy;
    font-weight: 50;
    font-size: 37px;
}

.toggle-panel p {
    font-size: 14px;
}


@media screen and (max-width: 1050px) {
    #contact {
        width: 100%;
    }
    .toggle-panel {
        display: none;
    }
    .container form {
        margin-right: 0;
        padding: 0 40px;
    }
    #enviar-mobile {
      margin-top: 300px;
        display: block;
        background-color: transparent;
        color: #3d22b5;
        font-size: 12px;
        padding: 10px 45px;
        border-color: #3851cb;
        border-radius: 8px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 25px; 
    }
  }

#enviar-mobile{
  display: none;
}

@media screen and (max-width: 1050px) {
  #enviador {
    display: none;
  }
  #message{
    height: 20px;
    padding-bottom: 50px;
  }
  #enviar-mobile{
    margin: 10px 0;
    display: flex;
  }
  .container .contact form{
    padding: 40px 40px;
    /* height: 800px; */
  }
  .container{
    height: 530px;
    width: 430px;
  }
}
