header{ 
    background: rgb(0,5,36);
    background: linear-gradient(90deg, rgba(0,5,36,1) 0%, rgba(9,54,121,1) 50%, rgba(0,180,255,1) 100%);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

/* nav-bar desktop */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
    width: 100px;
    zoom: 150%;
    margin-top: -22px;
}
.nav-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px ;
    margin-bottom: 13px;
    position: center;
    margin-top: -8px;
}
.nav-item{ 
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    margin-right: 13px;
    align-items: center;
}
.nav-link{
    color: white !important;
    font-weight: 600 !important;
}
.item-content{
    list-style-type: none;
    position: absolute;
    /* background-color: #ddd; */
    background-color: rgba(9,54,121,1);
    border-radius: 15px;
    text-align: center;
    margin-top: 35px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    grid-template-columns: 50% 50%;
    grid-template-columns: 200px 200px 200px;
    
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.item-content li{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
}
.item-content a{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    width: fit-content;
}
.item-content p{
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    padding: 5px;
    width: fit-content;
    margin-bottom: -6px;
}
.title-lines{
    max-width: 0px;
    margin-right: auto; margin-left: auto;
    border-top: 2px solid;
    border-bottom: none; border-left: none; border-right: none;
    display: flex;
    color: #fff;

    transition: max-width 0.4s;
}
.nav-item:hover .title-lines{
    max-width: 200px !important;
}
.nav-item:hover .item-content{
    max-height: 900px;
}
.sub-lines{
    max-width: 0px;
    margin-right: auto; margin-left: auto;
    border-top: 2px solid;
    border-bottom: none; border-left: none; border-right: none;
    display: flex;
    color: #fff;
    margin-bottom: -25px;

    transition: max-width 0.4s;
}
.item-content li:hover .sub-lines{
    max-width: 100px;
}

/* linhas dos titulos expandindo */

/* idiomas desktop */
.language-selector {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    border-radius: 20px;
    height: min-content;
}
.idioma-atual-desktop {
    background-color: #012E40;
    color: white;
    padding: 10px 20px;
    width: 84px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    transition: border-bottom-left-radius 0.4s, border-bottom-right-radius 0.4s;
}
.language-selector-content {
    list-style-type: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    border-radius: 20px;
    width: 84px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: border-top-left-radius 0.4s, border-top-right-radius 0.4s, max-height 0.5s ease;
}
.language-selector-content:hover{
    max-height: 400px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.language-selector:hover .idioma-atual-desktop{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.idioma-atual-desktop:hover + .language-selector-content {
    max-height: 400px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.opcao-idioma {  
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    text-decoration: none;
    display: flex;
    
    padding-left: 19px;
    border-radius: 6px;
}
.opcao-idioma .icons-language{
    padding-right: 3px;
    margin-left: 3px;
}
.opcao-idioma:hover {
    background-color: #ddd;
}
.opcao-idioma:hover .language-selector-content {
    max-height: 400px;
}
.icons-language{
    width: 20px;
    height: 20px;
}
/* ----------------------- */

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: block;
    align-items: center;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    margin-top: -65px;
    
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
}

@media screen and (max-width: 1050px) {
    .logo{
       margin-left: -50px;
    }
    .nav-item {
        display: none;
        align-items: center;
        vertical-align:top;
        margin-left: 0px !important;
    }
    .language-selector{
        display: none;
    }
    .language-selector-mobile{
        display: flex;
        flex-direction: row;
        margin-top: 3px;
        margin-right: 50%;
        margin-left: 48%;
    }
    .mobile-menu .language-selector{
      display: block; 
    }
    .mobile-menu .language-selector .language-selector-content{
        margin-top: 0px;
    }
    .mobile-menu-icon{
        display: block;
        margin-top: 13px;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu-icon .ling-opcoes a{
        color: white !important;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        align-items: center;
    }
    .mobile-menu{
        margin-top: -18px;
        background: linear-gradient(90deg, rgba(0,5,36,1) 0%, rgba(9,54,121,1) 50%, rgba(0,180,255,1) 100%);
    }
    .mobile-menu .nav-item{
        display: flex;
        text-align: center;
        width: 90%;
    }
    #ling-atual{ /*no mobile*/
        border-color: rgb(253, 254, 255);
        border-style: solid;
        border-width: 2px;
    }
    .ling-opcoes{
        align-items: center;
        margin-left: 5px; margin-right: 5px;
        padding: 5px;
        background: none;
        color: rgb(255, 255, 255);
        font-size: 0px;
        cursor: pointer;
        border-radius: 100%;
        width: auto;
        margin-bottom: 3.5px;
        margin-top: 8px;
        border: none;
    }
    #sep-ling{
        margin-top: 15px;
    }
    #indicador-idioma{
        color: white !important;
        font-weight: 600 !important;
        margin-top: 12px;
    }
    .open{
        max-height: 450px;
        transition: all 0.6s;
    }

}