
.footer-ct{
    display: flex;
    color: white;
}
.footer-ct ul{
    width: 50%;
    margin-top: 30px;
    list-style: none;

}
.footer-ct .ul-1{
    margin-top: 30px;
    padding-left: 20px;
}
.footer-ct ul > p{
    margin-bottom: 9px;
    font-weight: 500;
}
.footer-ct h2{
    margin-bottom: 25px;
    font-weight: 600;
}
.footer-ct li{
    margin: 10px 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.footer-ct a{
    color: white;
}
.footer-ct a:hover .title-lines{
    max-width: 200px;
}
.footer-icons-social{
    display: inline-flex;
    zoom: 150% ;
}
.footer-link-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.0rem;
    width: 2.0rem;
    border-radius: 50%;
}
#instagram{
    margin-right: 12px;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807) ;
}
#facebook{
    margin-right: 12px;
    background-color: #4267b3;
}
#whatsapp{
    margin-right: 12px;
    background-color: #25d366;
}
footer .logo{
    display: inline-block; /* Garante que o link respeite as dimensões especificadas */
    margin-bottom: -24px;
    margin-left: -15px;
}
.footer-copyright{
    margin-top: 40px;
    zoom: 70%;
    padding-bottom: 40px;
}
.footer-copyright hr{
    color: white;
    width:15%;
    margin: auto;
    
}
.footer-copyright h4{
    font-weight: 600;
    color: white;
}
@media screen and (max-width: 1050px) {
    footer{
        margin-top: 100px;
    }
    footer .footer-ct{
    flex-direction: column;
    gap: 2.5rem;
    }
    footer .footer-ct ul{
    margin: auto;
    width: auto;
    }
    footer .footer-copyright{
    display: flex;
    flex-direction: column;
    }
    footer .footer-copyright .hr{
    width: 50%;
    }
}