
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

body {
  background-color: #ffffffc5 !important;
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* MAIN CONTENT */
main {
  padding: 0 5%;
  margin: 0 auto;
  min-height: 90vh;
  margin-top: 120px;
  flex: 1;
  max-width: 1440px;
}

.main-container {
  display: grid;
  justify-items: center;
}

.first-container, .final-container {
  height: fit-content;
  padding: 50px 0;
  width: 100%;
}


.hover-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(0, 5, 36, 1) 0%,
    #093679 50%,
    rgba(0, 180, 255, 1) 100%
  );
  transition: all 0.4s;
  margin-top: 55px;
}
.hover-button:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.first-image img {
  zoom: 100%;
  display: flex;
  float: right;
  margin-right: 55px;
}

.second-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
  align-items: center;
  margin-top: 20px;
}

.text-main-2 {
  border-radius: 20px;
}

.text-main-2 h2 {
  font-family: trattatello, fantasy;
  font-weight: 300;
  font-size: 50px;
  color: rgb(9, 51, 113);
}

.text-main-2 h4 {
  font-weight: 500;
  font-size: 25px;
  color: rgb(5, 28, 77);
 
  margin: 1rem 0 2rem;
}

.second-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-visa {
  zoom: 15%;
  border-radius: 80px;
}

.first-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
}

.first-container .section-child {
  border-radius: 0;
  background-color: #ffffffc5; /* Fundo branco */
  color: rgb(7, 43, 97); /* Texto azul escuro */
  height: 100px;
  text-align: center;
  align-content: center;
  width: 30%;
}



.first-container .text-main h1 {
  color: rgb(7, 43, 97); /* Texto azul escuro */
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 35px;
  font-family: trattatello, fantasy;
}

.first-container .text-main h2 {
  color: rgb(0, 0, 0); /* Texto preto */
  font-size: 23px;
  font-weight: 450;
  font-family: "Montserrat", sans-serif;
}

.final-container {
  background-color: #FFFFFF; /* Fundo branco */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

.final-container .text-main-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.final-container .text-main-2 h1 {
  color: rgb(7, 43, 97); /* Texto azul escuro */
  font-size: 70px;
  font-weight: 500;
  font-family: trattatello, fantasy;
}

.card-information {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-right: 70px;
}

.card-main {
  display: flex;
  margin-top: 180px;

}

.card-main p {
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  margin-bottom: 15px; 
}

.card-main p.small {
  font-size: 14px;
  margin-top: 25px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #093679;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -9px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 32px 24px;
  margin-top: 55px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card-2 {
  margin-left: 50px;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background-color: #093679;
  height: 32px;
  width: 35px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: white;
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.icon-text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px; /* Espaço entre o h1 e o botão */
}

.icon-text {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.icon-text i {
  margin-right: 8px;
  color: #499cd3;
}

.hover-button-2 {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 0.5rem;
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 5, 36, 1) 0%,
    #093679 50%,
    rgba(0, 180, 255, 1) 100%
  );
  transition: all 0.4s;
}

.hover-button-2:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

@media screen and (max-width: 1050px) {
  .main-container,
  .first-container,
  .final-container {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .first-container h1 {
    align-items: center;
  }

  .text-main {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .text-main h1 {
    align-items: center;
    text-align: center;
    margin-right: 40px;
  }
  .text-main h2 {
    align-items: center;
    text-align: center;
    margin-right: 40px;
  }

  .text-main-2 {
    align-items: center;
    text-align: center;
  }

  .button-main {
    text-align: center;
    margin-right: 40px;
    margin-top: 20px;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }

  .text-main-2 h2 {
    align-items: center;
    text-align: center;
  }

  .icon-text-container {
    margin-bottom: 40px;
  }

  .first-image {
    display: none;
  }

  .hover-button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 20px;
  }

  .final-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-main {
    margin-top: 200px;
  }
}